canvas{
  border: 1px solid black;
}
table  {
  border-collapse: collapse;
  border-spacing:0;
}
td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}
th{
  font-family:Arial, 
  sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}

#game-tabs > div {
  display: none;
}
#game-tabs > .active {
  display: block;
}
